@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

body {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  background-color: #08080bf6;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  color: black;
  font-weight: bold;
}

header {
  display: flex;
  text-align: center;
}

.general-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: linear-gradient(to right, #9287c5, #dac6f6);
  background-color: #765354;
  margin: 60px;
  padding-bottom: 40px;
  border-radius: 1rem;
  border: 3px solid #9181f8;
}

.section-1 {
  position: relative;
  z-index: 10;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  padding: 1rem 4rem 2rem 4rem;
  gap: 1rem;
}

.nombreAlumno {
  height: 3rem;
  width: 8;
  border-radius: 0.5rem;
  text-align: center;
  font-size: medium;
  font-weight: bold;
  border-style: none;
}

.input {
  height: 3rem;
  width: 3rem;
  border-radius: 0.5rem;
  text-align: center;
  font-size: medium;
  font-weight: bold;
  border-style: none;
}

.nombreAlumno {
  height: 3rem;
  width: 8;
  border-radius: 0.5rem;
  text-align: center;
  font-size: medium;
  font-weight: bold;
  border-style: none;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  color: white;
  font-size: small;
  font-weight: bold;
  height: 3rem;
  width: 8rem;
  padding: 0.1rem 1rem;
  border-radius: 10px;
  background-color: #bd13e8;
  border: 2px solid rgba(0, 0, 0, 0.81);
}

.button:hover {
  color: #9181f8;
  border-color: #9181f8;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
}

.results-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.results-alumno,
.results-notas,
.results-promedio,
.results-estado {
  color: black;
  font-weight: bold;
}

.results-estado {
  padding: 0.5rem;
  background-color: white;
  border-radius: 0.4rem;
  display: none;
  border: 2px solid transparent;
}

.img {
  width: auto;
  height: 20rem;
  margin-top: 6px;
}

.bg-image {
  position: absolute;
  margin-top: -130px;
  z-index: 1;
}

.lottie-1 {
  display: none;
}

.lottie-2 {
  display: none;
}

.modal-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-container::before {
  background-color: red;
  height: 20px;
  width: auto;
}

.filtroNombre {
  height: 3rem;
  width: 8;
  border-radius: 0.5rem;
  text-align: center;
  font-size: medium;
  font-weight: bold;
  border-style: none;
}

.filtroNombre::placeholder,
.nombreAlumno::placeholder {
  color: #44444478;
  font-weight: normal;
}

table {
  width: 80%;
  margin: 20px auto;
  border-collapse: collapse;
}

th,
td {
  border: 1px solid #ccc;
  padding: 10px;
  text-align: center;
}

tbody tr:nth-child(odd) {
  background-color: #f2f2f2;
}
